@CHARSET "UTF-8";
.item {
  display: block;
  position: absolute;
  background: #000;
  width: 100%;
  height: 100%;
  line-height: 180px;
  font-size: 5em;
  text-align: center;
  color: #FFF;
  opacity: 0.9;
  border-radius: 10px;
}

.front{
	transform : translateZ(100px);
	background: red;
}
.back{
	transform : rotateY(180deg) translateZ(100px);
	background: blue;
}
.left{
	transform : rotateY(-90deg) translateX(-100px);
	transform-origin: left;
	background: pink;
}
.right{
	transform : rotateY(90deg) translateX(100px);
	transform-origin: right;
	background: yellow;
}
.top{
	transform : rotateX(-90deg) translateY(-100px);
	transform-origin: top;
	background: brown;
}
.bottom{
	transform : rotateX(90deg) translateY(100px);
	transform-origin: bottom;
	background: green;
}

.wrapper {
	width: 200px;
	height: 200px;
	margin: 100px auto;
	perspective: 800px;
	perspective-origin: 50% 100px;
}

.cube {
	width: 200px;
	transform-style: preserve-3d;
	animation: spin 5s infinite linear;
}
.cube .side{
	position: absolute;
	width:200px;
	height: 200px;
}


@keyframes spin {
	from { transform: rotateY(0); }
	to { transform: rotateY(360deg); }
}
