@CHARSET "UTF-8";

body {
	margin: 0;
	
}

#wrapper {
	position: relative;
	top: 80px;
}

.footer {
	margin: 0;
	padding: 0;
	overflow: hidden;
	bottom: 0;
	position: fixed;
	width: 100%;
}

.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 80;
}


.nav li:first-child {
	float: left;
}

.nav li:nth-child(2) {
	float: left;
}


.nav li label {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav li label{
    border-right: none;
    float: right;
}

.nav li label:hover:not(.active) {
    background-color: #111;
}


.nav li.active {
    background-color: #4CAF50;
}

.menubar {
	right: 0;
	width: 500px;
	position: fixed;
	height: 60%;
	overflow: auto;
	top: 50px;
	background-color: #CCC;
	z-index: 90;
}

.menubar .menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
    position: fixed;
    height: 60%;
    overflow: auto;
   
}

.settings {
	padding-left: 200px;
}

.menubar .menu li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

.menubar .menu li.active {
    background-color: #4CAF50;
}

.inline {
	display: inline-block;
    color: white;
}

.menubar .menu li a:hover:not(.active) {
    background-color: #555;
    color: white;
}

.sign-in{
	border:1px solid black;
	background-color: #ccc;
	
	top: 55px;
	right:0;
	position: fixed;
	z-index: 89;
}