@CHARSET "UTF-8";

#marble {
	width: 100%;
	position: relative;
}

#gamePan {
	width: 1050px;
	position: relative;
	margin: 0 auto;
	padding: 0 auto;
}

#marble table {
	margin: 0 auto;
}

#marble table tr {
	height: 100px;
}

#marble table td {
	width: 140px;
	text-align: center;
}