<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Mables</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ViewPlayIndexPageServlet</display-name>
    <servlet-name>ViewPlayIndexPageServlet</servlet-name>
    <servlet-class>net.ktds.drink.play.web.ViewPlayIndexPageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewPlayIndexPageServlet</servlet-name>
    <url-pattern>/play/index</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewWritePageServlet</display-name>
    <servlet-name>ViewWritePageServlet</servlet-name>
    <servlet-class>net.ktds.drink.boards.web.ViewWritePageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewWritePageServlet</servlet-name>
    <url-pattern>/board/write</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewSetGamesPageServlet</display-name>
    <servlet-name>ViewSetGamesPageServlet</servlet-name>
    <servlet-class>net.ktds.drink.games.web.ViewSetGamesPageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewSetGamesPageServlet</servlet-name>
    <url-pattern>/setGames</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchTypeServlet</display-name>
    <servlet-name>SearchTypeServlet</servlet-name>
    <servlet-class>net.ktds.drink.games.web.SearchTypeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchTypeServlet</servlet-name>
    <url-pattern>/searchType</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>DoWriteServlet</display-name>
    <servlet-name>DoWriteServlet</servlet-name>
    <servlet-class>net.ktds.drink.boards.web.DoWriteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoWriteServlet</servlet-name>
    <url-pattern>/doWrite</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckDuplicateUserEmailServlet</display-name>
    <servlet-name>CheckDuplicateUserEmailServlet</servlet-name>
    <servlet-class>net.ktds.drink.user.web.ajax.CheckDuplicateUserEmailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckDuplicateUserEmailServlet</servlet-name>
    <url-pattern>/CheckDuplicateUserEmailServlet</url-pattern>
    <url-pattern>/duplicateUserEmail</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewListPageServlet</display-name>
    <servlet-name>ViewListPageServlet</servlet-name>
    <servlet-class>net.ktds.drink.boards.web.ViewListPageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewListPageServlet</servlet-name>
    <url-pattern>/board/list</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MyInfoServlet</display-name>
    <servlet-name>MyInfoServlet</servlet-name>
    <servlet-class>net.ktds.drink.play.web.ajax.MyInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyInfoServlet</servlet-name>
    <url-pattern>/myInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SetMarbleBoardServlet</display-name>
    <servlet-name>SetMarbleBoardServlet</servlet-name>
    <servlet-class>net.ktds.drink.play.web.ajax.SetMarbleBoardServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SetMarbleBoardServlet</servlet-name>
    <url-pattern>/setMarbleBoard</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewTestServlet</display-name>
    <servlet-name>ViewTestServlet</servlet-name>
    <servlet-class>net.ktds.bamcoding.web.ViewTestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewTestServlet</servlet-name>
    <url-pattern>/test</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewDetailPageServlet</display-name>
    <servlet-name>ViewDetailPageServlet</servlet-name>
    <servlet-class>net.ktds.drink.boards.web.ViewDetailPageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewDetailPageServlet</servlet-name>
    <url-pattern>/board/detail</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>CharacterEncodingFilter</display-name>
    <filter-name>CharacterEncodingFilter</filter-name>
    <filter-class>net.ktds.drink.filter.CharacterEncodingFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>CharacterEncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>CheckDuplicateUserNickname</display-name>
    <servlet-name>CheckDuplicateUserNickname</servlet-name>
    <servlet-class>net.ktds.drink.user.web.ajax.CheckDuplicateUserNickname</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckDuplicateUserNickname</servlet-name>
    <url-pattern>/duplicateUserNickname</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DoSignUpPageServlet</display-name>
    <servlet-name>DoSignUpPageServlet</servlet-name>
    <servlet-class>net.ktds.drink.user.web.ajax.DoSignUpPageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoSignUpPageServlet</servlet-name>
    <url-pattern>/doSignUp</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DoDeleteServlet</display-name>
    <servlet-name>DoDeleteServlet</servlet-name>
    <servlet-class>net.ktds.drink.boards.web.DoDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoDeleteServlet</servlet-name>
    <url-pattern>/doDelete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewModifyServlet</display-name>
    <servlet-name>ViewModifyServlet</servlet-name>
    <servlet-class>net.ktds.drink.boards.web.ViewModifyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewModifyServlet</servlet-name>
    <url-pattern>/board/modify</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DoModifyServlet</display-name>
    <servlet-name>DoModifyServlet</servlet-name>
    <servlet-class>net.ktds.drink.boards.web.DoModifyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoModifyServlet</servlet-name>
    <url-pattern>/doModify</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DoThrowCubeServlet</display-name>
    <servlet-name>DoThrowCubeServlet</servlet-name>
    <servlet-class>net.ktds.drink.play.web.ajax.DoThrowCubeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoThrowCubeServlet</servlet-name>
    <url-pattern>/doThrowCube</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewSignUpPageServlet</display-name>
    <servlet-name>ViewSignUpPageServlet</servlet-name>
    <servlet-class>net.ktds.drink.user.web.ViewSignUpPageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewSignUpPageServlet</servlet-name>
    <url-pattern>/signUp</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VewSignInPageServlet</display-name>
    <servlet-name>VewSignInPageServlet</servlet-name>
    <servlet-class>net.ktds.drink.user.web.VewSignInPageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VewSignInPageServlet</servlet-name>
    <url-pattern>/signIn</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DoSignInPageServlet</display-name>
    <servlet-name>DoSignInPageServlet</servlet-name>
    <servlet-class>net.ktds.drink.user.web.ajax.DoSignInPageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoSignInPageServlet</servlet-name>
    <url-pattern>/doSignIn</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DoLogoutPageServlet</display-name>
    <servlet-name>DoLogoutPageServlet</servlet-name>
    <servlet-class>net.ktds.drink.user.web.DoLogoutPageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoLogoutPageServlet</servlet-name>
    <url-pattern>/doLogout</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>SessionCheckFilter</display-name>
    <filter-name>SessionCheckFilter</filter-name>
    <filter-class>net.ktds.drink.filter.SessionCheckFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>SessionCheckFilter</filter-name>
    <url-pattern>/board/*</url-pattern>
  </filter-mapping>
</web-app>